@tailwind base;
@tailwind components;
@tailwind utilities;

ds-fa-regular {
  font-family: "FontAwesome6Pro-Regular";
}

ds-fa-solid {
  font-family: "FontAwesome6Pro-Solid";
}

@font-face {
  font-family: "FontAwesome6Pro-Solid";
  src: url("/fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome6Pro-Regular";
  src: url("/fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
